@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap') ;

body {
  align-items: flex;
  background: url('../imgs/moeda.png');
  background-position: 5% 110%;
  background-size: cover;
  color: white;
  font-family: Sacramento , cursive;
  font-size: 20px;
  height: 2px;
  justify-content: center;
  position: center;
  text-align: center;
}

.trybeName {
  align-items: center;
  color: blue;
  display: flex;
  font-family: Sacramento , cursive;
  font-size: 80px;
  height: 300px;
  justify-content: center;
  text-align: center;
}

.email {
  border: 1px solid black;
  color: black;
  display: center;
  font-family: Sacramento, cursive;
  font-size: 20px;
  height: 25px;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.senha {
  border: 1px solid black;
  color: black;
  display: center;
  font-family: Sacramento, cursive;
  font-size: 20px;
  height: 25px;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.buttonEntrar {
  border: 1px solid black;
  color: black;
  display: inline-block;
  font-family: Sacramento, cursive;
  font-size: 20px;
  width: 200px;
}
